h1 {
  font-size: 4em;
  color: #E84A5F;
}

a {
  color: #E08E79;
  text-decoration: none;
}

body {
  text-align: center;
  margin: auto -1em;
}

li {
  display: inline-block;
  padding-right: 1em;
}

#nav {
  display: none;
}
