.articleContent h2 {
  text-align: center;
  padding-top: 0.5em;
  font-size: 2.5em;
  color: #E84A5F;
}

.articleContent a {
  float: right;
}

.articleContent p {
  max-width: 40em;
  display: inline-block;
  margin: 0.5em;
}

.articleContent img {
  margin: 2em;
  max-width: 80%;
}

.icon-menu {
  font-size: 6em;
  float:right;
  color: #E08E79;
}

.articleContent {
  text-align: left;
  background-color: #F1D4AF;
}

#lowNav p {
  display: block;
}

select {
  background-color:#E08E79;
  /*border-width: 1em;*/
  border-color: #F1D4AF;
  color: #F1D4Af;
  /*color: #E84A5F;*/
  -webkit-appearance: initial;
  font-weight:
}

.icon-menu:before {
  float: right;
}

#topNav a {
  font-size: .3em;
}

ul {
}

@media only screen and (min-width: 640px) {
  body {
    margin: 0 auto;
  }
  .articleContent {
    margin: 2em;
  }
  .icon-menu {
    display: none;
  }

  h1 {
    text-align: center;
  }
  /*#topNav {
    display: block;
  }*/

}
