body {
  /*margin: 0 auto;*/
  text-align: center;
  background-color: #ECE5CE;
}

/*main {
  margin: 0 auto;
}*/


.articleContent {
  text-align: left;
  margin: 2em;
  background-color: #F1D4AF;
}

.articleContent h2 {
  text-align: center;
  padding-top: 0.5em;
  font-size: 2.5em;
  color: #E84A5F;
}

li {
  list-style: none;
  display: inline-block;
  padding-right: 1em;
}

.articleContent a {
  float: right;
}

.articleContent p {
  max-width: 40em;
  display: inline-block;
  margin: 1em;
}

.articleContent img {
  margin: 2em;
  max-width: 80%;
}

h1 {
  font-size: 4em;
  color: #E84A5F;
}

a {
  color: #E08E79;
  text-decoration: none;
}

.icon-menu {
  font-size: 6em;
  float:right;
  color: #E08E79;
}

nav {
  display: none;
}

@media only screen and (min-width: 640px) {
  body {
    max-width: 960px;
    margin: 0 auto;
  }
  .icon-menu {
    display: none;
  }
  nav {
    display: block;
  }
}
